{% extends "base.html" %}
{% block content %}

    <div class="jumbotron">
        <div align='center'>

            <h3>Bem vindx ao notificador Hung Sing</h3>
            <br>
            <p>Ao registrar-se você receberá notificações referentes às aulas de luta, bem como quais equipamentos levar.
                <br> Chega de sofrência (:</p>
            <br>
            <p>Faça login ou registre-se!</p>
            <br>
            <p>Contato: n0t1f1c4d0r@gmail.com</p>

        </div>
    </div>


{% endblock %}
